@using BibliotecaWeb.Models
@using BibliotecaWeb.Controllers
@model List<Libro>

<!DOCTYPE html>
<html lang="it" dir="ltr">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="https://cdn-icons-png.flaticon.com/512/2232/2232688.png">
    <link rel="Stylesheet" type="text/css" href="~/css/Libri/style.css">
    <script src="https://kit.fontawesome.com/94a5d63a99.js" crossorigin="anonymous"></script>
    <script src="~/js/MyAccount/Menu.js"></script>
    <title>Libreria Web</title>
</head>
<body>
    <header>
        <div class="topnav">
            <a class="active" href="/Home/Index">Home</a>
            <a href="/Libri/Elenco">Lista Libri</a>
            <a href="/Home/Contatti">Contatti</a>
            <a href="/Home/AboutUs">Chi Siamo</a>
            @if (LoginController.amministratoreLoggato != null)
            {
                <a href="/Libri/NuovoLibro">Aggiungi Libro</a>
            }
            @if (LoginController.amministratoreLoggato == null && LoginController.utenteLoggato == null)
            {
                <a href="/Login/Login" id="accedi">Accedi/Registrati</a>
            }
            @if (LoginController.amministratoreLoggato != null)
            {
                <a href="/Login/Logout" id="accedi">Esci</a>
                <a href="/MyAccount/MyAccountAdmin" id="accedi">Sei dentro come @LoginController.amministratoreLoggato.Username</a>
            }
            @if (LoginController.utenteLoggato != null)
            {
                <a href="/Login/Logout" id="accedi">Esci</a>
                <a href="/MyAccount/MyAccountUtente" id="accedi">Sei dentro come @LoginController.utenteLoggato.Username</a>
            }

            <a onclick="MostraTextBox()" onmouseleave="NascondiTextBox()" id="cerca"><i class="fa-solid fa-magnifying-glass"><input id="txtfind" type="text" onfocus="reindireizza()"></input></i></a>
        </div>
    </header>
    <main>
        <div class="containerlibri">
            @foreach (Libro n in Model)
            {
                <div class="containerlibro">
                    <a href="/Libri/Dettagli?id=@n.Id">
                        <div class="iconaprodotto">
                            <img type="img" src="@n.Immagine" onerror="this.src='https://via.placeholder.com/200x300&text=Libro'"
                                 alt="Immagine">
                        </div>
                        <div class="dettaglilibro">
                            <div class="titolo">
                                <p>@n.Titolo</p>
                            </div>
                            <div class="autore">
                                <p>@n.Autore</p>
                            </div>
                            <div class="genere">
                                <p>Genere: @n.Genere</p>
                            </div>
                            <div class="numeropagine">
                                <p>Numero pagine: @n.NumeroPagine</p>
                            </div>
                            <div class="buttonnegozio">
                                @if (LoginController.amministratoreLoggato == null && LoginController.utenteLoggato == null)
                                {
                                    <a href="/Libri/Dettagli?id=@n.Id" id="dettaglibutton">Dettagli</a>
                                }
                                @if (LoginController.amministratoreLoggato != null)
                                {
                                    <a href="/Libri/FormModifica/@n.Id"><input type="button" value="Modifica"></a>
                                    <a href="/Libri/Elimina/@n.Id"><input type="button" value="Elimina"></a>
                                }
                                @if (LoginController.utenteLoggato != null)
                                {

                                    if (n.Disponibile)
                                    {
                                        <a href="/Libri/PrendiPrestito?idLibro=@n.Id&idUtente=@LoginController.utenteLoggato.Id"><input type="button" value="Prendi in Prestito" style="background-color:greenyellow; color: darkslategrey" /></a>
                                    }
                                    else
                                    {
                                        if (DAOUtente.GetInstance().VerificaPrestito(@n.Id, LoginController.utenteLoggato.Id))
                                        {
                                            <a href="/Libri/ConsegnaPrestito?idLibro=@n.Id&idUtente=@LoginController.utenteLoggato.Id"><input type="button" value="Restituisci" style="background-color:rgb(255, 95, 95); color: antiquewhite" /></a>
                                        }
                                        else
                                        {
                                            <a href="#"><input type="button" value="NON DISPONIBILE" style="background-color:rgb(255, 95, 95); color: antiquewhite" /></a>
                                        }
                                    }
                                    bool preferito = false;
                                    foreach (Libro l in LoginController.utenteLoggato.Preferiti)
                                    {
                                        if (l.Id == n.Id)
                                        {
                                            preferito = true;
                                        }
                                    }
                                    if (preferito)
                                    {
                                        <a href="/Libri/RimuoviDaiPreferiti?idLibro=@n.Id&idUtente=@LoginController.utenteLoggato.Id"><input type="button" value="Remove from Preferiti" style="background-color: #d6ff77; color: darkslategrey"></a>
                                    }
                                    else
                                    {
                                        <a href="/Libri/AggiungiAiPreferiti?idLibro=@n.Id&idUtente=@LoginController.utenteLoggato.Id"><input type="button" value="Add to Preferiti" style="background-color: #297788; color: antiquewhite"></a>
                                    }
                                }
                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>
    </main>
    <footer>
        <div id="footer">
            <p>© Copyright 2023 by Generation - Proudly powered by Gruppo-1®</p>
        </div>
    </footer>
</body>
</html>